# Sistema
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/
*.swp
*.swo

# Node (caso instale alguma dependência futura)
node_modules/
npm-debug.log*

# Logs
*.log

# Arquivos temporários
*.tmp
*.bak
